/* app global css */
@import '../components/file-preview-input/FilePreviewInput.styl'
@import '~@quasar/quasar-ui-qmediaplayer/dist/index.css'

// Zendesk button launcher
#launcher
  display none!important